<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sms.mapper.RoleMapper">

    <select id="findRoleById" parameterType="java.lang.Integer" resultType="com.sms.bean.Role">
        SELECT * FROM sys_role WHERE id = #{id}
    </select>

    <select id="findRoles" parameterType="com.sms.bean.Role" resultType="java.util.HashSet">
        SELECT r.role FROM sys_role r ,(SELECT ur.role_id,u.name FROM sys_user u INNER JOIN sys_user_role ur ON u.id = ur.user_id) b WHERE r.id = b.role_id AND b.name = #{username}
    </select>

    <select id="selectAll" parameterType="com.sms.bean.Role" resultType="java.util.ArrayList">
        SELECT * FROM sys_role
    </select>

    <insert id="add" parameterType="com.sms.bean.Role" useGeneratedKeys="true"   keyProperty="id">
        insert into sys_role (role,description,available) values(#{role},#{description},#{available})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from sys_role where id=#{id}
    </delete>

    <update id="update" parameterType="com.sms.bean.Role">
        update sys_role set role = #{role},description = #{description},available = #{available} where id = #{id}
    </update>

</mapper>